.slider {
    background: darkblue url('/assets/images/businessmen-shaking-hands.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.80;
    filter: alpha(opacity=80);
    min-height: 55vh;
    color: #fff;
}

.slider:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
  }

  .slider h2 {
      padding-top: 90px;
      font-weight: bold;
  }